{% comment %}
  snippets/onpri-customizer.liquid
  ONPRI Customizer storefront placeholder.
  Uses product metafield: onpri.customizer_product_id
{% endcomment %}

{%- assign onpri_customizer_product_id = product.metafields.onpri.customizer_product_id.value | default: '' -%}

<div
  data-onpri-customizer
  data-product-id="{{ onpri_customizer_product_id | escape }}"
  data-api-base="https://conditioning-learned-grand-societies.trycloudflare.com"
></div>

<script
  src="https://conditioning-learned-grand-societies.trycloudflare.com/onpri-customizer.js"
  defer="defer"
></script>
